#header
{
	background-color:#F5A9BC;
	color:black;
	text-align:center;
	padding:5px;
	font-size:25px;
}

#nav
{
	line-height: 30px;
	background-color:#E2A9F3;
	color: black;
	height: 850px;
	width: 350px;
	float: left;
	padding: 5px;
	font-size: 25px;
	margin: 15px;
}

#section
{
	width:600px;
	float:right;
	padding: 10px;
	color: black;
	text-align: justify;
	font-size: 23px;
	padding:0px 170px 0px 170px;

}

#footer
{
	background-color: #F5A9BC;
	color:black;
	clear: both;
	text-align: center;
	padding: 5px;
}
		body 
		{
			background-color: #BDBDBD;
		}
		img
		{
			display:black;
			margin: auto;
			clear:center;
		}
		a{
			text-decoration: none;
			color:black;
		}